{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
    <body>
        <div class="wrapper">
            <div class="title"><span>Реєстрація</span></div>
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
        
                    <div class="row">
                        {{ form.first_name }}
                    </div>
                    <div class="row">
                        {{ form.last_name }}
                    </div>
                    <div class="row">
                        {{ form.username }}
                    </div>
                    <div class="row">
                        {{ form.email }}
                    </div>
                    <div class="row">
                        {{ form.password1 }}
                    </div>
                    <div class="row">
                        {{ form.password2 }}
                    </div>
        
                    <div class="row button">
                        <input type="submit" value="Реєстрація" />
                    </div>
                    <div class="signup-link">Вже зареєстровані? <a href="{% url 'login' %}">Увійти</a></div>
                </form>
        </div>
    </body>
</html>