<footer class="footer">
    <div class="footer-content">
    <div class="footer-section">
        <h4>LikedBooks</h4>
        <a href="#">Про нас</a>
        <a href="#">Каталог</a>
        <a href="#">Контакти</a>
    </div>
    <div class="footer-section">
        <h4>Контакти</h4>
        <p>Email: support@likedbooks.com</p>
        <p>Телефон: +380-123-45-67</p>
    </div>
    <div class="footer-section">
        <h4>Стежте за нами</h4>
        <p>Instagram | Telegram</p>
    </div>
    </div>
    <p class="footer-bottom">&copy; 2025 LikedBooks.</p>
</footer>