<footer class="footer">
    <div class="footer-content">
    <div class="footer-section">
        <h4>LikedBooks</h4>
        <a href="{% url "about" %}">Про нас</a>
        <a href="{% url "products" %}">Каталог товарів</a>
        <a href="{% url "delivery" %}">Доставка та оплата</a>
    </div>
    <div class="footer-section">
        <h4>Контакти</h4>
        <p>Email: support@likedbooks.com</p>
        <p>Телефон: +380-123-45-67</p>
    </div>
    <div class="footer-section">
        <h4>Стежте за нами</h4>
        <p>Instagram | Telegram</p>
    </div>
    </div>
    <p class="footer-bottom">&copy; 2025 LikedBooks.</p>
</footer>