{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>LikedBooks</title>
    
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="navbar">
        <div class="logo"><a href="{% url "index" %}">LikedBooks</a></div>
        <nav class="nav-links">
        <a href="{% url "products" %}">Товари</a>
        <a href="#">Доставка та оплата</a>
        </nav>
        <div class="nav-actions">
        <a href="#">🛒 Кошик</a>
        <a href="#">👤 Акаунт</a>
        </div>
    </header>

    <div class="search-section">
        <div class="search-bar">
        <input type="text" placeholder="Пошук книг..." />
        <button><span><i class='bx bx-search'></i></span></button>
        </div>
    </div>

    <div class="hero">
        <img src="{% static 'images/main_background_image.jpeg' %}" alt="Книги" />
    </div>

    <div class="features">
        <div class="feature-card">
        <h3>Якість</h3>
        <p>Мы предлагаем только новые и вдохновляющие книги для всех возрастов.</p>
        </div>
        <div class="feature-card">
        <h3>Доставка</h3>
        <p>Швидка и дбайлива доставка по всій країні. Ваші книги будуть в безпеці.</p>
        </div>
        <div class="feature-card">
        <h3>Вибір</h3>
        <p>Широкий ассортимент книг на любий смак — від класики до сучасності.</p>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
        <div class="footer-section">
            <h4>LikedBooks</h4>
            <a href="#">Про нас</a>
            <a href="#">Каталог</a>
            <a href="#">Контакти</a>
        </div>
        <div class="footer-section">
            <h4>Контакти</h4>
            <p>Email: support@likedbooks.com</p>
            <p>Телефон: +380-123-45-67</p>
        </div>
        <div class="footer-section">
            <h4>Стежте за нами</h4>
            <p>Instagram | Telegram</p>
        </div>
        </div>
        <p class="footer-bottom">&copy; 2025 LikedBooks.</p>
    </footer>
    </body>
</html>
