{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>LikedBooks</title>
        
        <link rel="stylesheet" href="{% static '/css/index.css' %}" />
        <link rel="stylesheet" href="{% static '/css/common.css' %}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Roboto&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        {% include "products/partials/navbar.html" %}
        {% include "products/partials/search.html" %}

        <div class="hero">
            <img src="{% static 'images/main_background_image.jpeg' %}" alt="Книги" />
        </div>

        <div class="features">
            <div class="feature-card">
            <h3>Якість</h3>
            <p>Мы предлагаем только новые и вдохновляющие книги для всех возрастов.</p>
            </div>
            <div class="feature-card">
            <h3>Доставка</h3>
            <p>Швидка и дбайлива доставка по всій країні. Ваші книги будуть в безпеці.</p>
            </div>
            <div class="feature-card">
            <h3>Вибір</h3>
            <p>Широкий ассортимент книг на любий смак — від класики до сучасності.</p>
            </div>
        </div>

        {% include "products/partials/footer.html" %}
    </body>
</html>
